{% extends "bus_app/base.html" %}

{% block content %}
<h1 class="mt-4">Employee List</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Date of Joining</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.e_id }}</td>
            <td>{{ employee.employee_name }}</td>
            <td>{{ employee.salary }}</td>
            <td>{{ employee.date_of_joining }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
